@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #F3EFEC;
        --text-color: #353430;
        --heading-color: #353430;
        --accent-color: #FF8DCB;
        --accent-heading-color: #FFC2E6;
        --title-decor-color: #353430;
        --cover-image: url(../images/cover-image-light.png);
        --button-hover-color: rgba(53, 52, 48, 0.4);
    }
}

:root.theme-light {
    --bg-color: #F3EFEC;
    --text-color: #353430;
    --heading-color: #353430;
    --accent-color: #FF8DCB;
    --accent-heading-color: #FFC2E6;
    --title-decor-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
    --button-hover-color: rgba(53, 52, 48, 0.4);
}

.theme-light .decorative-rec-icon {
    display: none;
}

@media (prefers-color-scheme: light) {
    .decorative-rec-icon {
        display: none;
    }
}
